html,body{
    color: black;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #B6BBC4;
    height: 100%;
    width: 100%;
}
/*Logo animation*/
@keyframes zoomInOut {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}


.header img{
  
  width: 80px;
  height: 80px;
  grid-row: 1 / 2;
  
  margin-left: 20px;
  animation: zoomInOut 3s infinite ;
  background-color: white;
  border-radius: 20px;
 
}

.header{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  align-items: center;
  
  
  
}
.title{
    grid-row: 1 / 2;
    font-size: 50px;
    padding-left: 235px;
  
}
.button-container{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    

}

#newbook{
    border-radius: 15px;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: pulse 1s infinite;
    cursor: pointer;
}
/* animation for New Book button */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
  }
form{
    display: flex;
    flex-direction: column;
    
    
    height: 100%;
    width: 100%;
}

#submitButton{
  background-color: aquamarine;
  border-radius: 20px;
  margin-top: 90px;
  margin-left: 100px;
  color: black;
  width: 200px;
  height: 50px;
}

.library{

    display: flex;
    height: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* small animation for card border */
@keyframes flowingWater {
  0%, 100% {
    border-color: #add8e6; /* Light blue */
  }
  50% {
    border-color: #87ceeb; /* Sky blue */
  }
}
.card{
  
    display: flex;
    font-size: 20px;
    flex-direction: column;
    padding-left: 10px;
    width: 300px;
    height: 450px;
    border-radius: 25px;
    background-color: #EEF5FF;
    border: 2px solid;
    border-width: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: flowingWater 1s infinite linear;
    overflow-y: auto;
     
    
    
   
}

.card:hover {
  /* zooom in effect */
  transform: scale(1.01); 
}

#popup{
    
    animation: pulse 2s infinite;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

#formCloseButton{
  display: flex;
  width: 20px;
  align-self: flex-end;
  justify-content: center;
}
.closeButtonContainer{
  display: flex;
  justify-content: flex-end;
  
  padding-top:8px;
  padding-right: 5px;
 
}

#closeButton{
  background: url(pictures/delete.svg);
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  transition: color 0.3s, transform 0.3s;
  
}
#closeButton:hover {
  
  transform: scale(1.3); /* Scale the button on hover effect */
}

#readStatusButton{

  width: 200px;
  height: 50px;
  margin-left: 45px;
  border-radius: 10px;
  cursor: pointer;

}

