body{
    color: black;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #B6BBC4
}



.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  
}
.button-container{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    

}

#newbook{
    border-radius: 15px;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
  }
form{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
}

.library{

    display: flex;
    gap: 20px;
}
.card{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    padding-left: 10px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: #C5FFF8;
    border: 5px solid transparent;
    background-clip: padding-box;
    color: #333; /* Text color */
    animation: rainbow-border-animation 10s linear infinite;
   
}

#popup{
    
    animation: pulse 2s infinite;
    width: 400px;
    height: 300px;
}

/* Keyframes for the dynamic rainbow border animation */
@keyframes rainbow-border-animation {
    0% {
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet);
    }
    25% {
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, red, violet, indigo, blue, green, yellow, orange, red);
    }
    50% {
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, orange, red, violet, indigo, blue, green, yellow, orange);
    }
    75% {
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, yellow, orange, red, violet, indigo, blue, green, yellow);
    }
    100% {
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, green, yellow, orange, red, violet, indigo, blue, green);
    }
  }