body{
    background-color: #7077A1;
    color: white;
}



.title{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#newbook{
    border-radius: 15px;
    background-color: blue;
    color: white;
    width: 150px;
    height: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
}